.about {
  padding: 2.625em 0.625em 2.375em;

  @include breakpoints-up(large) {
    padding: 5em 0 6em;
  }

  @include breakpoints-up(xlarge) {
    padding: 5em 2.5em 6em;
  }
  &-content {
    flex-direction: column;
    gap: 2.65em;
    text-align: center;

    @include breakpoints-up(large) {
      max-width: 27.3125rem;
      margin: 0 auto;
      gap: 5em;
    }

    @include breakpoints-up(xlarge) {
      flex-direction: row-reverse;
      gap: 7.5em;
      max-width: initial;
      justify-content: center;
    }
    &__description {
      padding: 0 0.9375em;

      @include breakpoints-up(large) {
        padding: 0 0.1875em 0 0.25em;
      }

      @include breakpoints-up(xlarge) {
        padding: 0;
        margin-top: 0.875em;
        max-width: 26.875rem;
      }
      &-title {
        // @include h3-mobile;
        // color: $color-dark-l;
        margin-bottom: 0.92em;

        @include breakpoints-up(large) {
          // @include h3;
          margin: 0 1.71428em 0.7142857em 0;
          text-align: left;
        }
      }

      &-text {
        @include paragraph-l;
        color: $color-dark-xl;
        text-align: justify;

        @include breakpoints-up(large) {
          text-align: left;
        }

        & + & {
          margin-top: 1.466667em;

          @include breakpoints-up(large) {
            margin-top: 1.66666666667em;
          }
        }
      }
    }
  }
}
