// shake
@keyframes shake {
  10%,
  90% {
    transform: translateX(-0.03125rem);
  }

  20%,
  80% {
    transform: translateX(0.03125rem);
  }

  30%,
  50%,
  70% {
    transform: translateX(-0.0625rem);
  }

  40%,
  60% {
    transform: translateX(0.0625rem);
  }
}

// ringing
@keyframes ringing {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0);
  }
}

// scale
@keyframes scale {
  0% {
    transform: scale(1) translateY(-50%);
  }
  30% {
    transform: scale(1.1) translateY(-50%);
  }
  50% {
    transform: scale(1.2) translateY(-50%);
  }
  100% {
    transform: scale(1) translateY(-50%);
  }
}

//  slide in
@keyframes slide-in {
  from {
    right: -20rem;
    opacity: 0;
  }

  10% {
    right: -18.75rem;
  }

  80% {
    opacity: 0.3;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in-out forwards;
}

//  slide out
@keyframes slide-out {
  from {
    right: 0;
    opacity: 1;
  }

  10% {
    right: -3.125rem;
    opacity: 0.8;
  }

  60% {
    opacity: 0.5;
  }

  to {
    right: -20rem;
    opacity: 0;
  }
}

.slide-out {
  animation: slide-out 0.5s ease-in-out forwards;
}

// ====== carousel animations ======

// ===========320 ==================
@keyframes move-left-320 {
  from {
    left: -286px;
  }
  to {
    left: 0px;
  }
}

.transition-left-320 {
  animation: move-left-320 0.5s linear;
}
@keyframes move-right-320 {
  from {
    // left: -270px;
    left: -286px;
  }
  to {
    // left: -540px;
    left: -572px;
  }
}

.transition-right-320 {
  animation: move-right-320 0.5s linear;
}

// =========== /320 ==================

// ===========768 ==================
@keyframes move-left-768 {
  from {
    left: -620px;
  }
  to {
    left: 0px;
  }
}

.transition-left-768 {
  animation: move-left-768 0.7s linear;
}
@keyframes move-right-768 {
  from {
    left: -620px;
  }
  to {
    left: -1240px;
  }
}

.transition-right-768 {
  animation: move-right-768 0.7s linear;
}
// =========== /768 ==================

// ===========1280 ==================
@keyframes move-left-1280 {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

.transition-left-1280 {
  animation: move-left-1280 0.9s linear;
}
@keyframes move-right-1280 {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

.transition-right-1280 {
  animation: move-right-1280 0.9s linear;
}
// =========== /1280 ==================

// ======  /carousel animations ======
