.footer {
  padding: 1.875em 0.625em 0;
  @include background-primary;

  @include breakpoints-up(large) {
    padding: 1.875em 1.875em 0;
  }

  @include breakpoints-up(xlarge) {
    padding: 2.5em 2.5em 0;
  }

  .container {
    padding-bottom: 17.1em;
    background: url("../assets/images/footer/footer-puppy-320.png") no-repeat
      center bottom;

    @include breakpoints-up(large) {
      background: url("../assets/images/footer/footer-puppy-768-1280.png")
        no-repeat center bottom;
      padding-bottom: 20.9375em;
    }

    @include breakpoints-up(xlarge) {
      padding-bottom: 1.25em;
      background-position: bottom right;
    }
  }

  &-content {
    flex-direction: column;

    @include breakpoints-up(large) {
      padding: 0 2.125em;
      flex-direction: row;
    }

    @include breakpoints-up(xlarge) {
      justify-content: flex-start;
      gap: 10rem;
      padding: 0.9375em 0 0;
    }

    .primary-title {
      color: $color-light-xl;
      text-align: center;

      @include breakpoints-up(large) {
        text-align: left;
        margin-top: 0.05714em;
      }
    }

    &__contacts-list__item,
    &__visit-list__item {
      margin: 2.5em 0;
    }

    &__contacts-list__item-link,
    &__visit-list__item-link {
      display: inline-block;
      @include h4($color-primary);
      position: relative;
    }

    &__contacts {
      margin: 0 0.6875em;

      @include breakpoints-up(large) {
        margin: 0;
        max-width: 17.4375rem;
      }

      &-list {
        &__item {
          &-link {
            padding-left: 3em;
            margin: 0.25em 0 0.2em 0.65em;

            @include breakpoints-up(large) {
              margin: 0.2em 0 0.2em;
            }

            &::before {
              content: "";
              display: block;
              width: 2.5rem;
              height: 1.625rem;
              background: url("../assets/images/footer/footer-mail-icon.svg")
                no-repeat center center;
              position: absolute;
              top: -0.125rem;
              left: 0;
            }
          }

          &-link.phone-link {
            margin-left: 0.95em;

            @include breakpoints-up(large) {
              margin-left: 0;
              margin-top: 0.25em;
            }
            &::before {
              content: "";
              height: 2rem;
              background: url("../assets/images/footer/footer-phone-icon.svg")
                no-repeat center center;
              top: -0.3125rem;
            }
          }
        }
      }
    }

    &__visit {
      @include breakpoints-up(large) {
        max-width: 18.875rem;
      }
      &-title {
        margin: 0 0.75em;

        @include breakpoints-up(large) {
          margin: 0;
        }
      }

      &-list {
        &__item {
          @include breakpoints-up(large) {
            margin: 2.0625em 0;
          }

          &:first-of-type {
            margin-bottom: 2.75em;

            @include breakpoints-up(large) {
              margin-bottom: 2.3125em;
            }
          }

          &-link {
            padding-left: 2.086em;

            &::before {
              content: "";
              display: block;
              width: 1.375rem;
              height: 2rem;
              background: url("../assets/images/footer/footer-pin-icon.svg")
                no-repeat center center;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
