.header {
  position: absolute;
  top: 1.875rem;
  width: 100%;
  padding-left: 0.625em;
  @include breakpoints-up(large) {
    padding: 0 1.875em;
  }

  &-logo {
    &__title-text {
      @include logo_title;
    }

    &__subtitle {
      @include logo_subtitle;
      padding-left: 0.25rem;
      margin: 0.63em 0 0 0;
    }
  }
  // hamburger menu
  &-hamburger {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-right: 3.3125em;
    margin-top: 0.1875em;

    @include breakpoints-up(large) {
      display: none;
    }

    &__line {
      display: block;
      width: 1.875rem;
      height: 0.125rem;
      background-color: $color-primary;

      & + & {
        margin-top: 0.5em;
      }
    }
  }
  // header navigation menu
  &-menu {
    @include breakpoints-down(medium) {
      display: none;
    }
    &__item {
      & + & {
        margin-left: 2.1875em;
      }
      &-link {
        @include paragraph-l;
        letter-spacing: 0.004em;
        color: $color-dark-s;
        border-bottom: 0.1875rem solid transparent;
        padding-bottom: 0.24em;
        transition: all 0.3s ease-in;

        &:hover,
        &:focus {
          color: $color-light-s;
        }

        &.current-link {
          color: $color-light-s;
          border-bottom-color: $color-primary;
        }
      }
    }
  }
}
