.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &-nav-wrapper {
    @include breakpoints-down(small) {
      .header-logo {
        visibility: hidden;
      }
    }
  }

  &-logo {
    &__title-text {
      @include logo_title;
    }

    &__subtitle {
      @include logo_subtitle;
      padding-left: 0.25rem;
      margin: 0.63em 0 0 0;
    }
  }

  // hamburger menu
  &-hamburger {
    @include breakpoints-down(medium) {
      display: block;
    }
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: none;
    &__line {
      display: block;
      width: 1.875rem;
      height: 0.125rem;
      background-color: $color-primary;

      & + & {
        margin-top: 0.5em;
      }
    }
  }

  // header links
  .nav-links-wrapper {
    @include breakpoints-down(medium) {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      background-color: $color-dark-3xl;
      width: 20em;
      padding-top: 15.5em;
      overflow-x: hidden;
    }
    transition: all 0.3s ease-in-out;

    .header-logo {
      display: none;
      @include breakpoints-down(medium) {
        position: absolute;
        top: 2em;
        left: 0.875em;
        display: block;
      }
    }
  }

  &-nav {
    flex-direction: row;
    padding: 1.875em 1.875em 0;
    @include breakpoints-down(medium) {
      flex-direction: column;
      padding: 1.875em 3.3125em 0 0.625em;
      justify-content: unset;
      align-items: unset;
    }

    &__menu {
      @include breakpoints-down(medium) {
        flex-direction: column;
        text-align: center;
      }

      &-item {
        & + & {
          margin-left: 2.1875em;
        }
        @include breakpoints-down(medium) {
          margin-left: 0.625em;
          & + & {
            margin-top: 2.625em;
            margin-left: 0.625em;
          }
        }
        &__link {
          @include paragraph-l;
          @include menu_links(0.9375rem);
          letter-spacing: 0.004em;
          color: $color-dark-s;
          border-bottom: 0.1875rem solid transparent;
          padding-bottom: 0.24em;
          transition: all 0.3s ease-in;

          &:hover,
          &:focus {
            color: $color-light-s;
          }

          @include breakpoints-down(medium) {
            @include menu_links(2rem);
          }
        }
      }
    }
  }
}
