.hero {
  padding: 9.375em 0.625em 0;
  background: $color-primary-background;
  background-image: url("../assets/images/hero/noise_lines_transparent@2X.png"),
    radial-gradient(
      100% 215.42% at 0% 0%,
      hsl(25, 22%, 29%) 0%,
      hsl(330, 3%, 15%) 100%
    );
  text-align: center;

  .container {
    padding-bottom: 23.5625em;
    background: url("../assets/images/hero/start-screen-puppy-320.png")
      no-repeat bottom right;

    @include breakpoints-up(large) {
      padding-bottom: 43.3125em;
      background: url("../assets/images/hero/start-screen-puppy-768.png")
        no-repeat bottom right 11%;
    }
  }

  &-content {
    @include breakpoints-up(large) {
      max-width: 28.75rem;
      margin: 0 auto;
    }
    &__title {
      @include h3-mobile;
      padding: 0 0.8em;

      @include breakpoints-up(large) {
        @include h2;
        padding: 0 1.1136em 0 0;
        text-align: left;
      }
    }
    &__text {
      @include paragraph-l;
      padding: 2.8em 0;

      @include breakpoints-up(large) {
        text-align: left;
      }
    }
  }
}
