// Text mixins
@mixin logo_title {
  // font-family: "Georgia";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.055em;
  color: $color-primary;
}

@mixin logo_subtitle {
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.15;
  letter-spacing: 0.1em;
  color: $color-light-xl;
}

@mixin menu_links($font-size) {
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.6;
  color: $color-dark-s;
  font-size: $font-size;
}

@mixin h3 {
  // font-family: "Georgia";
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 1.285;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

@mixin h3-mobile {
  // font-family: "Georgia";
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.285;
  letter-spacing: 0.06em;
  // color: $color-light-xl;
  color: $color-dark-l;
}

@mixin paragraph-l {
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: $color-dark-s;
}

@mixin btn-primary-text {
  // font-family: "Georgia";
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
}

@mixin h2 {
  // font-family: "Georgia";
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 1.3;
  letter-spacing: 0;
  color: $color-light-xl;
}

@mixin h4($text-color) {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: $text-color;
}

@mixin h5 {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

@mixin pets-card-title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

@mixin policy-text {
  font-family: "Arial";
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: justify;
  color: $color-dark-m;
}
@mixin specification-text {
  // font-family: "Georgia";
  // font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.1;
  text-align: justify;
  letter-spacing: 0.06em;
  color: $color-black;
}

// !!!!!!!!!!!!check usability!!!!!!
@mixin paragraph-mobile-menu {
  font-family: "Arial";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  color: $color-dark-s;
}

// background
@mixin background-primary {
  background: $color-primary-background;
  background-image: url("../assets/images/hero/noise_lines_transparent@2X.png"),
    radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      hsl(25, 27%, 25%) 0%,
      hsl(240, 4%, 11%) 100%
    );
}

// @mixin background-secondary {
//   background: $color-primary-background;
//   background-image: url("../assets/images/hero/noise_lines_transparent@2X.png"),
//     radial-gradient(
//       100% 215.42% at 0% 0%,
//       hsl(25, 22%, 29%) 0%,
//       hsl(330, 3%, 15%) 100%
//     );
// }

// Breakpoints
// 590px, 768px, 1280px
$breakpoints-up: (
  "medium": "36.875rem",
  "large": "48rem",
  "xlarge": "80rem",
);

// 589px, 767px,  1279px
$breakpoints-down: (
  "small": "36.8125rem",
  "medium": "47.9375em",
  "large": "79.9375rem",
);

@mixin breakpoints-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoints-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
