.our-friends {
  background-color: $color-light-l;
  padding: 2.625em 0.625em;
  text-align: center;

  .container {
    @include breakpoints-up(large) {
      position: relative;
    }
  }

  @include breakpoints-up(large) {
    padding: 5em 1.875em 6.25em;
  }

  &-title {
    @include breakpoints-up(large) {
      margin-bottom: 1.71428em;
    }
  }

  &-carousel {
    max-width: 16.875rem;
    padding: 2.625em 0 1.25em;
    margin: 0 auto;
    overflow: hidden;

    @include breakpoints-up(large) {
      padding: 0;
      max-width: 36.25rem;
      margin-bottom: 3.75em;
    }
    @include breakpoints-up(xlarge) {
      max-width: 61.875rem;
    }
    &__track {
      position: relative;
      z-index: 1;
      gap: 1em;

      @include breakpoints-up(large) {
        gap: 2.5em;
      }

      @include breakpoints-up(xlarge) {
        gap: 5.625em;
      }

      &-item {
        min-height: 27.1875rem;
        @include breakpoints-up(large) {
          gap: 2.5em;
        }

        @include breakpoints-up(xlarge) {
          gap: 5.625em;
        }
      }
    }
  }

  &-controls {
    display: grid;
    grid-template-columns: repeat(2, 3.25rem);
    justify-content: center;
    gap: 5em;
    margin-bottom: 2.3125em;

    @include breakpoints-up(large) {
      position: absolute;
      top: 49%;
      width: 100%;
      justify-content: space-between;
    }
    &-item {
      &__btn {
        background: no-repeat center;
        background-image: url("../assets/images/our-pets/arrow-left.svg");
      }
    }
    .next {
      background-image: url("../assets/images/our-pets/arrow-right.svg");
    }
  }
}
