// Colors
$color-light-xl: hsl(0, 0%, 100%);
$color-light-l: hsl(0, 0%, 96%);
$color-light-s: hsl(0, 0%, 98%);
$color-dark-s: hsl(0, 0%, 80%);
$color-dark-m: hsl(0, 0%, 70%);
$color-dark-l: hsl(0, 0%, 33%);
$color-dark-xl: hsl(0, 0%, 30%);
$color-dark-2xl: hsl(0, 0%, 27%);
$color-dark-3xl: hsl(0, 0%, 16%);
$color-primary: hsl(25, 69%, 82%);
$color-primary-light: hsl(25, 93%, 88%);
$color-primary-background: hsl(330, 3%, 13%);
$color-black: hsl(0, 0%, 0%);
