@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial.eot"); /* IE9 Compat Modes */
  src: url("../../../assets/fonts/Arial.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Arial.woff2") format("woff2"), url("../../../assets/fonts/Arial.woff") format("woff"), url("../../../assets/fonts/Arial.ttf") format("truetype"), url("../../../assets/fonts/Arial.svg#Arial") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial-Italic.eot"); /* IE9 Compat Modes */
  src: url("../../../assets/fonts/Arial-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Arial-Italic.woff2") format("woff2"), url("../../../assets/fonts/Arial-Italic.woff") format("woff"), url("../../../assets/fonts/Arial-Italic.ttf") format("truetype"), url("../../../assets/fonts/Arial-Italic.svg#Arial-Italic") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia.eot"); /* IE9 Compat Modes */
  src: url("../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia.woff2") format("woff2"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.ttf") format("truetype"), url("../../../assets/fonts/Georgia.svg#Georgia") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.nav-link {
  border-bottom: 0.1875rem solid transparent;
  padding-bottom: 0.24em;
  transition: all 0.3s ease-in;
}
.nav-link:hover, .nav-link:focus {
  color: #fafafa;
}
.nav-link.current-link {
  color: #fafafa;
  border-bottom-color: #f1cdb3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.primary-title {
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.285;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (min-width: 48rem) {
  .primary-title {
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 1.285;
    letter-spacing: 0.06em;
    color: #545454;
  }
}

.button-primary {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 0.88235em 2.647em;
  background-color: #f1cdb3;
  border-radius: 5.882em;
  display: inline-block;
}

.button-secondary {
  border: 0;
  box-shadow: inset 0 0 0 0.125rem #f1cdb3;
  border-radius: 6.25rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 0.056em;
  padding: 0.88235em 2.64705882em;
  color: #292929;
}

.button-round {
  width: 3.25rem;
  height: 3.25rem;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 0.125rem #f1cdb3;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

body {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: clip;
  padding: 1.875em 3.3125em 0 0.625em;
}
@media (min-width: 48rem) {
  .header {
    padding: 1.875em 1.875em 0;
  }
}
@media (min-width: 80rem) {
  .header {
    padding: 3.75em 2.5em 0;
  }
}
.header-nav-wrapper {
  width: 100%;
}
@media (min-width: 48rem) {
  .header-nav-wrapper {
    width: auto;
  }
}
.header-logo__title-text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.055em;
  color: #f1cdb3;
}
.header-logo__subtitle {
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.15;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-left: 0.25rem;
  margin: 0.63em 0 0 0;
}
.header-hamburger {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 48rem) {
  .header-hamburger {
    display: none;
  }
}
.header-hamburger__line {
  display: block;
  width: 1.875rem;
  height: 0.125rem;
  background-color: #f1cdb3;
}
.header-hamburger__line + .header-hamburger__line {
  margin-top: 0.5em;
}
.header .nav-links-wrapper {
  position: absolute;
  right: -20em;
  top: 0;
  z-index: -1;
  background-color: #292929;
  width: 20em;
  padding-top: 15.5em;
}
@media (min-width: 48rem) {
  .header .nav-links-wrapper {
    position: initial;
    width: auto;
    background-color: transparent;
    padding-top: 0;
    z-index: 0;
  }
}
.header .nav-links-wrapper .header-logo {
  position: absolute;
  top: 2em;
  left: 0.875em;
}
@media (min-width: 48rem) {
  .header .nav-links-wrapper .header-logo {
    display: none;
  }
}
.header-nav__menu {
  flex-direction: column;
  text-align: center;
  margin-top: 1em;
}
@media (min-width: 48rem) {
  .header-nav__menu {
    flex-direction: row;
  }
}
.header-nav__menu-item {
  margin-left: 0.625em;
}
@media (min-width: 48rem) {
  .header-nav__menu-item {
    margin-left: 0;
  }
}
.header-nav__menu-item + .header-nav__menu-item {
  margin-top: 2.625em;
  margin-left: 0.625em;
}
@media (min-width: 48rem) {
  .header-nav__menu-item + .header-nav__menu-item {
    margin-top: 0;
    margin-left: 2.1875em;
  }
}
.header-nav__menu-item__link {
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #cdcdcd;
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.6;
  color: #cdcdcd;
  font-size: 2rem;
  letter-spacing: 0.004em;
  color: #cdcdcd;
  border-bottom: 0.1875rem solid transparent;
  padding-bottom: 0.26666em;
  transition: all 0.3s ease-in;
}
@media (min-width: 48rem) {
  .header-nav__menu-item__link {
    font-family: "Arial";
    font-weight: 400;
    line-height: 1.6;
    color: #cdcdcd;
    font-size: 0.9375rem;
  }
}
.header-nav__menu-item__link:hover, .header-nav__menu-item__link:focus {
  color: #fafafa;
}

.hero {
  padding: 9.375em 0.625em 0;
  background: hsl(330deg, 3%, 13%);
  background-image: url("../assets/images/hero/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, hsl(25deg, 27%, 25%) 0%, hsl(240deg, 4%, 11%) 100%);
  text-align: center;
}
@media (min-width: 80rem) {
  .hero {
    padding: 11.25em 2.5em 0;
    text-align: unset;
  }
}
.hero .container {
  padding-bottom: 23.5625em;
  background: url("../assets/images/hero/start-screen-puppy-320.png") no-repeat bottom right;
}
@media (min-width: 48rem) {
  .hero .container {
    padding-bottom: 43.3125em;
    background: url("../assets/images/hero/start-screen-puppy-768.png") no-repeat bottom right 11%;
  }
}
@media (min-width: 80rem) {
  .hero .container {
    padding-bottom: 243px;
    background: url("../assets/images/hero/start-screen-puppy-1280.png") no-repeat bottom right;
  }
}
@media (min-width: 48rem) {
  .hero-content {
    max-width: 28.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 80rem) {
  .hero-content {
    margin: 0;
    padding-top: 10.1875em;
  }
}
.hero-content__title {
  color: #ffffff;
  padding: 0 0.8em;
}
@media (min-width: 48rem) {
  .hero-content__title {
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 1.3;
    letter-spacing: 0;
    color: #ffffff;
    padding: 0 1.1136em 0 0;
    text-align: left;
  }
}
.hero-content__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #cdcdcd;
  padding: 2.8em 0;
}
@media (min-width: 48rem) {
  .hero-content__text {
    text-align: left;
  }
}

.about {
  padding: 2.625em 0.625em 2.375em;
}
@media (min-width: 48rem) {
  .about {
    padding: 5em 0 6em;
  }
}
@media (min-width: 80rem) {
  .about {
    padding: 5em 2.5em 6em;
  }
}
.about-content {
  flex-direction: column;
  gap: 2.65em;
  text-align: center;
}
@media (min-width: 48rem) {
  .about-content {
    max-width: 27.3125rem;
    margin: 0 auto;
    gap: 5em;
  }
}
@media (min-width: 80rem) {
  .about-content {
    flex-direction: row-reverse;
    gap: 7.5em;
    max-width: initial;
    justify-content: center;
  }
}
.about-content__description {
  padding: 0 0.9375em;
}
@media (min-width: 48rem) {
  .about-content__description {
    padding: 0 0.1875em 0 0.25em;
  }
}
@media (min-width: 80rem) {
  .about-content__description {
    padding: 0;
    margin-top: 0.875em;
    max-width: 26.875rem;
  }
}
.about-content__description-title {
  margin-bottom: 0.92em;
}
@media (min-width: 48rem) {
  .about-content__description-title {
    margin: 0 1.71428em 0.7142857em 0;
    text-align: left;
  }
}
.about-content__description-text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #cdcdcd;
  color: #4c4c4c;
  text-align: justify;
}
@media (min-width: 48rem) {
  .about-content__description-text {
    text-align: left;
  }
}
.about-content__description-text + .about-content__description-text {
  margin-top: 1.466667em;
}
@media (min-width: 48rem) {
  .about-content__description-text + .about-content__description-text {
    margin-top: 1.6666666667em;
  }
}

.our-friends {
  background-color: #f6f6f6;
  padding: 2.625em 0.625em;
  text-align: center;
}
@media (min-width: 48rem) {
  .our-friends .container {
    position: relative;
  }
}
@media (min-width: 48rem) {
  .our-friends {
    padding: 5em 1.875em 6.25em;
  }
}
@media (min-width: 48rem) {
  .our-friends-title {
    margin-bottom: 1.71428em;
  }
}
.our-friends-carousel {
  max-width: 16.875rem;
  padding: 2.625em 0 1.25em;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 48rem) {
  .our-friends-carousel {
    padding: 0;
    max-width: 36.25rem;
    margin-bottom: 3.75em;
  }
}
@media (min-width: 80rem) {
  .our-friends-carousel {
    max-width: 61.875rem;
  }
}
.our-friends-carousel__track-card {
  min-width: 16.875rem;
  background: #fafafa;
  overflow: hidden;
  border-radius: 0.5625em;
}
@media (min-width: 48rem) {
  .our-friends-carousel__track-card:not(:nth-child(3n+1)) {
    margin-left: 2.5em;
  }
}
@media (min-width: 80rem) {
  .our-friends-carousel__track-card:not(:nth-child(3n+1)) {
    margin-left: 5.625em;
  }
}
.our-friends-carousel__track-card__img {
  vertical-align: middle;
}
.our-friends-carousel__track-card__content {
  padding: 1.875em 0;
}
.our-friends-carousel__track-card__content-title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1.5em;
}
.our-friends-controls {
  display: grid;
  grid-template-columns: repeat(2, 3.25rem);
  justify-content: center;
  gap: 5em;
  margin-bottom: 2.3125em;
}
@media (min-width: 48rem) {
  .our-friends-controls {
    position: absolute;
    top: 49%;
    width: 100%;
    justify-content: space-between;
  }
}
.our-friends-controls-item__btn {
  background: no-repeat center;
  background-image: url("../assets/images/our-pets/arrow-left.svg");
}
.our-friends-controls .next {
  background-image: url("../assets/images/our-pets/arrow-right.svg");
}

.help {
  padding: 2.625em 0.9375em;
  text-align: center;
}
@media (min-width: 48rem) {
  .help {
    padding: 5em 4.3125em 6.25em;
  }
}
@media (min-width: 80rem) {
  .help {
    padding: 5em 2.5em 6.25em;
  }
}
.help-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875em;
  margin-top: 2.625em;
}
@media (min-width: 48rem) {
  .help-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.4375em 3.75em;
    margin-top: 3.75em;
  }
}
@media (min-width: 80rem) {
  .help-list {
    margin: 3.75em 87px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.4375em 7.45875em;
  }
}
.help-list__item-title {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 1.06666em;
}
@media (min-width: 48rem) {
  .help-list__item-title {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 1.25em;
  }
}

.donation {
  background-color: #f6f6f6;
  padding: 2.625em 0.625em 2.25em;
  text-align: center;
}
@media (min-width: 48rem) {
  .donation {
    padding: 5em 0 5.9375em;
    text-align: initial;
  }
}
@media (min-width: 80rem) {
  .donation {
    padding: 5em 0 6.375em;
  }
}
.donation .container {
  flex-direction: column;
}
@media (min-width: 80rem) {
  .donation .container {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1.875em;
  }
}
@media (min-width: 48rem) {
  .donation-title {
    max-width: 23.75rem;
    margin: 0 auto;
    margin-top: 0.05714em;
  }
}
@media (min-width: 48rem) {
  .donation-content {
    max-width: 23.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 80rem) {
  .donation-content {
    margin: 0;
  }
}
.donation-content__info {
  margin: 1.25em 0 2.625em;
}
@media (min-width: 48rem) {
  .donation-content__info {
    margin: 1em 0 3.75em;
  }
}
@media (min-width: 80rem) {
  .donation-content__info {
    margin: 1em 0 0;
  }
}
.donation-content__info-description {
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #545454;
}
@media (min-width: 48rem) {
  .donation-content__info-description {
    letter-spacing: 0.0666666em;
    word-spacing: -0.02666666em;
  }
}
.donation-content__info-account {
  display: inline-block;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 1.36666em 0;
  padding: 0.86666em 1em 0.86666em 4em;
  border-radius: 0.6rem;
  position: relative;
}
@media (min-width: 48rem) {
  .donation-content__info-account {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0.8em 0 1em;
    padding: 0.5em 0.75em 0.5em 3em;
  }
}
.donation-content__info-account::before {
  content: "";
  display: block;
  width: 1.875rem;
  height: 1.375rem;
  background: url("../assets/images/donation/donation-credit-card.svg") no-repeat center center;
  position: absolute;
  top: 0.625rem;
  left: 0.9375rem;
}
.donation-content__info-policy {
  font-family: "Arial";
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: justify;
  color: #b2b2b2;
  padding: 0 0.8333em;
}
@media (min-width: 48rem) {
  .donation-content__info-policy {
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 48rem) {
  .donation-pic {
    display: block;
    text-align: center;
  }
}
@media (min-width: 80rem) {
  .donation-pic {
    margin-top: 0.75em;
  }
}
@media (min-width: 48rem) {
  .donation-pic__img {
    margin-left: -0.0625em;
  }
}

.footer {
  padding: 1.875em 0.625em 0;
  background: hsl(330deg, 3%, 13%);
  background-image: url("../assets/images/hero/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, hsl(25deg, 27%, 25%) 0%, hsl(240deg, 4%, 11%) 100%);
}
@media (min-width: 48rem) {
  .footer {
    padding: 1.875em 1.875em 0;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 2.5em 2.5em 0;
  }
}
.footer .container {
  padding-bottom: 17.1em;
  background: url("../assets/images/footer/footer-puppy-320.png") no-repeat center bottom;
}
@media (min-width: 48rem) {
  .footer .container {
    background: url("../assets/images/footer/footer-puppy-768-1280.png") no-repeat center bottom;
    padding-bottom: 20.9375em;
  }
}
@media (min-width: 80rem) {
  .footer .container {
    padding-bottom: 1.25em;
    background-position: bottom right;
  }
}
.footer-content {
  flex-direction: column;
}
@media (min-width: 48rem) {
  .footer-content {
    padding: 0 2.125em;
    flex-direction: row;
  }
}
@media (min-width: 80rem) {
  .footer-content {
    justify-content: flex-start;
    gap: 10rem;
    padding: 0.9375em 0 0;
  }
}
.footer-content .primary-title {
  color: #ffffff;
  text-align: center;
}
@media (min-width: 48rem) {
  .footer-content .primary-title {
    text-align: left;
    margin-top: 0.05714em;
  }
}
.footer-content__contacts-list__item, .footer-content__visit-list__item {
  margin: 2.5em 0;
}
.footer-content__contacts-list__item-link, .footer-content__visit-list__item-link {
  display: inline-block;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  position: relative;
}
.footer-content__contacts {
  margin: 0 0.6875em;
}
@media (min-width: 48rem) {
  .footer-content__contacts {
    margin: 0;
    max-width: 17.4375rem;
  }
}
.footer-content__contacts-list__item-link {
  padding-left: 3em;
  margin: 0.25em 0 0.2em 0.65em;
}
@media (min-width: 48rem) {
  .footer-content__contacts-list__item-link {
    margin: 0.2em 0 0.2em;
  }
}
.footer-content__contacts-list__item-link::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 1.625rem;
  background: url("../assets/images/footer/footer-mail-icon.svg") no-repeat center center;
  position: absolute;
  top: -0.125rem;
  left: 0;
}
.footer-content__contacts-list__item-link.phone-link {
  margin-left: 0.95em;
}
@media (min-width: 48rem) {
  .footer-content__contacts-list__item-link.phone-link {
    margin-left: 0;
    margin-top: 0.25em;
  }
}
.footer-content__contacts-list__item-link.phone-link::before {
  content: "";
  height: 2rem;
  background: url("../assets/images/footer/footer-phone-icon.svg") no-repeat center center;
  top: -0.3125rem;
}
@media (min-width: 48rem) {
  .footer-content__visit {
    max-width: 18.875rem;
  }
}
.footer-content__visit-title {
  margin: 0 0.75em;
}
@media (min-width: 48rem) {
  .footer-content__visit-title {
    margin: 0;
  }
}
@media (min-width: 48rem) {
  .footer-content__visit-list__item {
    margin: 2.0625em 0;
  }
}
.footer-content__visit-list__item:first-of-type {
  margin-bottom: 2.75em;
}
@media (min-width: 48rem) {
  .footer-content__visit-list__item:first-of-type {
    margin-bottom: 2.3125em;
  }
}
.footer-content__visit-list__item-link {
  padding-left: 2.086em;
}
.footer-content__visit-list__item-link::before {
  content: "";
  display: block;
  width: 1.375rem;
  height: 2rem;
  background: url("../assets/images/footer/footer-pin-icon.svg") no-repeat center center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}/*# sourceMappingURL=styles.css.map */